{
  "plugins": [
    "@emotion/babel-plugin",
    [
      "babel-plugin-direct-import",
      {
        "modules": [
          "@mui/material",
          "@mui/icons-material"
        ]
      }
    ]
  ]
}