:root {
  // Thème de base ge.ch
  --base-primary:#337ab7;
  --base-blanc:#ffffff;
  --base-noir:#333333;
  --base-gris1:#ededed;
  --base-gris2:#e1e1e1;
  --base-gris3:#b2b2b2;
  --statut-success:#5cb85c;
  --statut-info:#ffffff;
  --statut-warning:#f0ad4e;
  --statut-danger:#d9534f;

  // Extensions du theme ge.ch
  --autre-bleu-fonce:#13204c;
  --autre-bleu-clair:#6DA6CB;
  --autre-bleu-enu:#0C6BA8;
  --autre-vert:#cde5d5;
  --autre-gris-F:#f0f0f0;
  --autre-gris-C:#cccccc;
  --autre-gris-9:#999999;
  --autre-gris-8:#888888;
  --autre-gris-7:#777777;
  --autre-gris-5:#555555;
  --autre-rouge:#DD1840;
  --autre-noir:#000000;

  // Thème Espace Numérique Usager
  --enu-primary-main:#0c6ba8;
  --enu-primary-light:#8bafce;
  --enu-primary-dark:#17568e;
  --enu-secondary:#ffffff;
  --enu-secondary-light:#ededed;
  --enu-secondary-dark:#dfeff2;
  --enu-tertiary:#5a5a5a;
  --enu-tertiary-light:#9e9e9e;
  --enu-tertiary-dark:#000000;
  --enu-background-main:#f5f5f8;
  --enu-text-main:#333333;
  --enu-text-light:#9e9e9e;
  --enu-text-dark:#000000;
  --enu-textsecondary-main:#337ab7;
  --enu-textsecondary-light:#8bafce;
  --enu-textsecondary-dark:#17568e;
  --enu-textcontrast-main:#ffffff;
  --enu-important-main:#DD1840;
  --enu-important-dark:#780d23;
  --enu-important-light:#e57373;
  --enu-info-main:#bde8c9;
  --enu-info-light:#C6F5D3;
  --enu-info-dark:#b4dec0;
}

@mixin media-mobile {
  @media screen and (max-width: 768.98px) {
    @content;
  }
}
@mixin media-not-mobile {
  @media screen and (min-width: 769px) {
    @content;
  }
}
@mixin media-tablet {
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}
@mixin media-mobile-and-tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin media-desktop {
  @media screen and (min-width: 1025px) {
    @content;
  }
}
@mixin media-small {
  @media screen and (min-width: 1025px) and (max-width: 1440px) {
    @content;
  }
}
@mixin media-medium {
  @media screen and (min-width: 1441px) and (max-width: 1920px) {
    @content;
  }
}
@mixin media-large {
  @media screen and (min-width: 1921px) {
    @content;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--enu-text-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
a:active, a:hover {
  outline: 0;
}

button {
  text-transform: none !important;
}
